@import '~bootstrap/scss/bootstrap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// nav
.barra {
    border-bottom: 2px solid #0082F9 !important;
}

// jumbotron
.wrap {
    height: 400px;
    width: 100%;
}

.jumbo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

// main
main {
    background-color: #1C1C1C;

    .card {
        background-color: #1C1C1C;
        border: none;

        .title {
            color: white;
        }
    }
}

.ms_books {
    padding-top: 50px;
}

.cta {
    background-color: #0082F9;
}

//footer
.ms-footer-list {
    display: flex;
    max-width: 500px;
    max-height: 600px;
    margin-left: 100px;
    margin-top: 40px;

    li {
        color: white;
    }
}

.ms-footer {
    background-image: url('../img/footer-bg.jpg');
    position: relative;
    padding: 20px;
}

.img-footer {
    max-width: 390px;
    position: absolute;
    right: 70px;
    top: 20px;

    img {
        width: 100%;
        overflow: hidden;
    }

}

.copyright {
    color: grey;
    font-size: 12px;
    margin-left: 60px;

    a {
        text-decoration: none;
    }
}

// footer bottom
.list-unstyled {
    li {
        color: grey;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }
}

.sign-up {
    background-color: #303030;
    position: relative;

    button {
        color: white;
    }
}

.socials {
    position: absolute;
    right: 70px;
    top: 30px;

    h5 {
        color: #0082F9;
    }
}

.icons {
    margin-left: 10px;

    img {
        padding-right: 10px;
    }
}

// comic page
.comics-wrapper {
    max-width: calc(100% / 5);

    .comics-img {
        width: 100%;
    }
}